AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_DEFAULT_REGION=us-east-1
AZURE_SIMULATE=true
AZURE_SIMULATED_SUBSCRIPTION=demo-subscription-001
EXPORTER_PORT=8000
SCRAPE_INTERVAL_SECONDS=3600
